version: '3'
services:
    php:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: ${APP_NAME:?project}-php
        environment:
            PHP_XDEBUG_ENABLED: 1
            XDEBUG_CONFIG: client_host=${XDEBUG_REMOTE_HOST} client_port=${XDEBUG_PORT}
            XDEBUG_SESSION: PHPSTORM
        volumes:
            - '${WORK_DIRECTORY}/project:/var/www/html'
            - '${WORK_DIRECTORY}/config/php/local.ini:/usr/local/etc/php/conf.d/local.ini'
            - '${WORK_DIRECTORY}/config/php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini'
        networks:
            - app-network    

    nginx:
        image: nginx:latest
        container_name: ${APP_NAME:?err}-nginx
        ports:
            - '${NGINX_PORT}:80'
        links:
            - 'php'
        volumes:
            - '${WORK_DIRECTORY}/project:/var/www/html'
            - '${WORK_DIRECTORY}/config/nginx:/etc/nginx/conf.d'
        networks:
            - app-network

    mariadb:
        image: mariadb:10.5
        container_name: ${APP_NAME:?err}-mariadb
        restart: 'on-failure'
        ports:
            - '${MYSQL_PORT}:3306'
        environment:
            MYSQL_DATABASE: ${MYSQL_DATABASE:?err}
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:?err}
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql
        volumes:
            - '${WORK_DIRECTORY}/mysql:/var/lib/mysql'
        networks:
          - app-network

#Docker Networks
networks:
  app-network:
    driver: bridge